########################
# ANGULAR
########################
CookBook-ui/node_modules/
CookBook-ui/dist/
CookBook-ui/.angular/

########################
# SPRING BOOT / GRADLE
########################
CookBook-be/build/
CookBook-be/.gradle/
CookBook-be/bin/

########################
# Java
########################
*.class
*.jar
*.war

########################
# IDE
########################
.idea/
.vscode/
*.iml

########################
# Logs
########################
*.log

########################
# OS
########################
.DS_Store
Thumbs.db

########################
# MCP / Playwright
########################
.playwright-mcp/